* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(to right, #faaca8, #ddd6f3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}
.container {
  background-color: #ffffff;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 15px;
  color: red;
}
p {
  text-align: center;
  padding: 15px 20px;
  font-size: 20px;
  width: 600px;
}
.diceIcon {
  text-align: center;
  margin-bottom: 10px;
}
.dice-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  place-content: center start;
  margin-bottom: 10px;
}
.dice {
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 2px black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dice.frozen {
  background-color: aquamarine;
}
#btnRoll {
  display: none;
}
.record {
  display: flex;
  gap: 50px;
}
.time {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
h5 {
  font-size: 25px;
}
/* CSS */
button {
  height: 48px;
  padding-inline: 16px;
  border-radius: 4px;
  border: 0;
  background-color: #919191;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  button {
    padding: 0 2.6rem;
  }
}
