* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.header {
  width: 1430px;
  display: flex;
  background-color: #f2f2f2;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.type {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.icontype img {
  width: 32px;
  height: 32px;
}
.Education {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
}
.Education h2 {
  color: #fe7ec9 !important;
  text-transform: uppercase;
}
.section-1 {
  display: contents;
  width: 1140px;
  height: 670px;
}
.info-1 {
  display: flex;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}
.img-1 img {
  width: 570px;
  height: 670px;
}
.title-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-1 h2 {
  text-align: center;
  text-transform: uppercase;
  color: #488df4 !important;
  font-size: 3.8rem;
  margin: 65px 30px 0;
  font-weight: 700;
  line-height: 1.2;
}
.title-1 h3 {
  text-align: center;
  margin: 20px 30px 65px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.875rem;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 40px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.5rem;
}
.bi-book {
  width: 86px;
  height: 86px;
}
.para-1 {
  width: 365.25px;
  height: 340.2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #38c4c1;
}
.para-2 {
  width: 365.25px;
  height: 340.2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #feca02;
}
.para-3 {
  width: 365.25px;
  height: 340.2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fe7ec9;
}
.para-4 {
  width: 365.25px;
  height: 340.2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #488df4;
}
.container-3 {
  background-color: #f2f2f2;
  color: #42434b;
}
.section-3 {
  background-color: #f2f2f2;
  min-height: 383px;
  height: auto;
  width: 1028px;
  margin: auto;
  display: flex;
  align-items: center;
}
.info-3 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.7;
}
.horizontal {
  background-color: #000;
  width: 67px;
  height: 5px;
  transform-origin: right center;
  margin: 30px auto 0;
}
.info-3 h1 {
  color: #488df4 !important;
  font-weight: 700;
  line-height: 1.1;
  font-size: 3.1rem;
}
.info-3 p {
  font-size: 1.25rem;
  margin: 35px 60px;
  font-weight: 400;
  line-height: 1.7;
}
.header-4 {
  width: 855px;
  min-height: 185px;
  height: auto;
  margin: 26px auto 0;
  text-align: center;
}
.abouts {
  margin: 59px 0 0;
  text-transform: uppercase;
  color: gray;
}
.best {
  font-size: 3rem;
  margin: 13px 0 20px;
  font-weight: 700;
  line-height: 1.2;
}
.title-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  gap: 10px;
}
.img-4 img {
  width: 580px;
  height: 719px;
}
.post-card {
  width: 580px;
  height: 719px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-con {
  width: 580px;
  height: 352px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}
.bi-gem {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #fe7ec9;
}
.bi-people {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #38c4c1;
  margin: 35px 0 0 auto;
}
.card {
  width: 580px;
  height: 362px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-1 {
  width: 580px;
  height: 362px;
  color: #42434b;
  background-color: #ebfcfc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}
.teachers {
  line-height: 1.2;
  font-size: 1.5rem;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: #808080;
}
.card-2 {
  width: 580px;
  height: 362px;
  color: #42434b;
  background-color: #fff2fa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}
.text {
  font-style: italic;
}
.read-move1 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 8px auto;
  color: #38c4c1 !important;
  text-decoration: none;
}
.read-move2 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0 8px auto;
  color: #fe7ec9;
  text-decoration: none;
}
.anh-con img {
  width: 290px;
  height: 355px;
}
.container-5 {
  background-color: #feca02;
}
.header-5 {
  width: 855px;
  min-height: 185px;
  height: auto;
  margin: 26px auto 0;
  text-align: center;
  padding-top: 5px;
  color: #fff;
}
.key {
  margin: 40px 0 0;
  text-transform: uppercase;
}
.service {
  font-size: 2.5rem;
  margin: 15px 0 15px;
  font-weight: 700;
  line-height: 1.2;
}
.list-card5 {
  display: flex;
  justify-content: center;
}
.card-5 {
  width: 1170px;
  height: 347px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}
.info-5 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.bi-person {
  width: 64px;
  height: 64px;
}
.text-5 {
  font-style: italic;
  font-size: 1rem;
  margin: 31px auto 30px;
  text-align: center;
}
.Envi {
  text-transform: uppercase;
  font-weight: 1000;
  line-height: 1.2;
  font-size: 1rem;
  color: #fe7ec9 !important;
}
.Act {
  text-transform: uppercase;
  font-weight: 1000;
  line-height: 1.2;
  font-size: 1rem;
  color: #488df4 !important;
}
.Crea {
  text-transform: uppercase;
  font-weight: 1000;
  line-height: 1.2;
  font-size: 1rem;
  color: #38c4c1 !important;
}
.Qua {
  text-transform: uppercase;
  font-weight: 1000;
  line-height: 1.2;
  font-size: 1rem;
  color: #feca02 !important;
}
.section-6 {
  position: relative;
  margin: 0 auto;
  width: 1140px;
  height: 430px;
}
.info-6 {
  display: flex;
  gap: 15px;
  margin: 10px;
  padding: 10px;
}
.header-6 {
  min-height: 104px;
  height: auto;
  margin: 79px auto 0;
}
.how {
  margin: 10px;
  font-weight: 1000;
  line-height: 1.1;
  font-size: 3rem;
}
.text-6 {
  font-weight: 350;
  line-height: 1.7;
  font-size: 1.125rem;
  color: gray;
}
.layout-6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-7 {
  width: 1425px;
  height: 617.94px;
  background-color: #38c4c1;
}
.list-7 {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  gap: 20px;
}
.card-72 {
  background-color: #fff;
  width: 383.33px;
  height: 487.94px;
  background-position: 0% 0%;
  min-height: 400px;
  padding-left: 20px;
  padding-right: 20px;
}
.card-71 img {
  width: 383.33px;
  height: 487.94px;
  background-position: 0% 0%;
  min-height: 400px;
}
.innovative {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.875rem;
  margin: 40px 0 0;
}
.small {
  margin: 20px 0 40px;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.125rem;
  color: #42434b;
}
.header-8 {
  width: 855px;
  min-height: 185px;
  height: auto;
  margin: 26px auto 0;
  text-align: center;
}
.title-8 {
  height: 671px;
  display: flex;
  padding-bottom: 70px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  gap: 30px;
}
.img-8 img {
  width: 388px;
  height: auto;
  padding-top: 15px;
}
.card-81 {
  width: 388px;
  height: 520.37px;
  padding: 10px 0 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
.card-82 {
  width: 388px;
  height: 520.37px;
  padding: 10px 0 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
.funny {
  color: #42434b;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.25rem;
  padding-bottom: 15px;
}
.text-8 {
  color: #42434b;
  font-size: 1.25rem;
}
.container-9 {
  width: 1425px;
  height: 907.16px;
  background-color: #38c4c1;
}
.header-9 {
  color: #fff;
  width: 855px;
  min-height: 185px;
  height: auto;
  margin: 26px auto 0;
  text-align: center;
}
.facility {
  margin: 59px 0 0;
  text-transform: uppercase;
  padding-top: 60px;
}
.make {
  font-size: 2rem;
  margin: 13px 0 20px;
  font-weight: 700;
  line-height: 1.2;
}

.para-9 {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
}
.img-9 img {
  width: 600.5px;
  height: 599.16px;
}
.noidung-9 {
  width: 600.5px;
  height: 602.6px;
  background-color: #fff;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 10px 0 0;
}
